extends layout/layout

block vars
    - var pageTitle = 'Главная страница'
    - var pageBodyClass = 'homepage'
    - var pageHeaderClass = ''

block content
    .container 
        .main-page 
            a(href="#") 
                p.main-page__title Q-graver
            p.main-page__main Главная
    .services 
        .container 
            section.section-services 
                h1.h1 Наши услуги
                a.a-section(href="#") Выберите нужный раздел
            .services-inner
                p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis porta turpis magna nunc. Et, porta fringilla sed tortor nulla pretium ultrices. Purus risus neque, risus tristique enim, mattis et parturient pellentesque. Commodo volutpat sollicitudin eu
                .services-inner-wr
                    .ringet 
                        a(href="#").ringet__link
                            img(src="./assets/imgs/ring.jpg", alt="ring").ringet__link-img
                        p.ringet__p Гравировка
                    .ringet 
                        a(href="#").ringet__link
                            img(src="./assets/imgs/ring.jpg", alt="ring").ringet__link-img
                        p.ringet__p Гравировка 
                    .ringet 
                        a(href="#").ringet__link
                            img(src="./assets/imgs/ring.jpg", alt="ring").ringet__link-img
                        p.ringet__p Гравировка 
                    .ringet 
                        a(href="#").ringet__link
                            img(src="./assets/imgs/ring.jpg", alt="ring").ringet__link-img
                        p.ringet__p Гравировка 
                    .ringet 
                        a(href="#").ringet__link
                            img(src="./assets/imgs/ring.jpg", alt="ring").ringet__link-img
                        p.ringet__p Гравировка  
    .etching
        .container 
            section.section-services 
                h1.h1 Гравировка
                a.a-section(href="#") Выберите нужный раздел
            .services-inner
                p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis porta turpis magna nunc. Et, porta fringilla sed tortor nulla pretium ultrices. Purus risus neque, risus tristique enim, mattis et parturient pellentesque. Commodo volutpat sollicitudin eu 
            .swiper-wr
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/ringring.jpg", alt="ring").swiper-slide__link-img
                                p.swiper-slide__p На кольцах
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/bracelet.jpg", alt="bracelet").swiper-slide__link-img
                                p.swiper-slide__p На браслетах
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/lighter.jpg", alt="lighter").swiper-slide__link-img
                                p.swiper-slide__p На зажигалках
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/cup.jpg", alt="cup").swiper-slide__link-img
                                p.swiper-slide__p На кружках
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/spoon.jpg", alt="spoon").swiper-slide__link-img
                                p.swiper-slide__p На ложках
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/pen.jpg", alt="pen").swiper-slide__link-img
                                p.swiper-slide__p На ручках
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/ringring.jpg", alt="ring").swiper-slide__link-img
                                p.swiper-slide__p На кольцах
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/bracelet.jpg", alt="bracelet").swiper-slide__link-img
                                p.swiper-slide__p На браслетах
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/lighter.jpg", alt="lighter").swiper-slide__link-img
                                p.swiper-slide__p На зажигалках
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/cup.jpg", alt="cup").swiper-slide__link-img
                                p.swiper-slide__p На кружках
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/spoon.jpg", alt="spoon").swiper-slide__link-img
                                p.swiper-slide__p На ложках
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/pen.jpg", alt="pen").swiper-slide__link-img
                                p.swiper-slide__p На ручках  
                    .swiper-pagination
                .swiper-button-prev    
                .swiper-button-next
            .book-wrap 
                .book-inner 
                    .book-quality
                        ul.book-quality-list 
                            li.book-quality-li 
                                img(src="./assets/imgs/Vector.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Идеальная гравировка на любом материале
                            li.book-quality-li 
                                img(src="./assets/imgs/like.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Немецкая точность и швейцарское качество на современном оборудованиии
                            li.book-quality-li 
                                img(src="./assets/imgs/touch.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Бережная работа без механического воздействия
                    .book-button 
                        .book-showall 
                            a(href="#").book-showall__link Показать все
                        .book-button-btn
                            a(href="#").book-button-btn__link.btn Заказать 
    .sales 
        .container 
            .sales-inner 
                form.form
                    .form-sales
                        h2.form-sales__h2 Скидка 10%
                        h3.form-sales__h3 на первый заказ
                    input(type="email" placeholder="E-mail").form__field
                    .form__button
                        a(href="#").form__button-btn.btn Промокод
    .nameboard
        .container 
            section.section-services 
                h1.h1 Таблички
                a.a-section(href="#") Выберите нужный раздел
            .services-inner
                    p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis porta turpis magna nunc. Et, porta fringilla sed tortor nulla pretium ultrices. Purus risus neque, risus tristique enim, mattis et parturient pellentesque. Commodo volutpat sollicitudin eu 
            .swiper-wr
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/id-plate.jpg", alt="id-plate").swiper-slide__link-img
                                p.swiper-slide__p Шильдик
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/building.jpg", alt="building").swiper-slide__link-img
                                p.swiper-slide__p На здание
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/door.jpg", alt="door").swiper-slide__link-img
                                p.swiper-slide__p На дверь
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/office.jpg", alt="office").swiper-slide__link-img
                                p.swiper-slide__p В офис
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/table.jpg", alt="table").swiper-slide__link-img
                                p.swiper-slide__p На стол
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                img(src="./assets/imgs/cross.jpg", alt="cross").swiper-slide__link-img
                                p.swiper-slide__p На крест
                    .swiper-pagination
                .swiper-button-prev    
                .swiper-button-next
            .book-wrap 
                .book-inner 
                    .book-quality
                        ul.book-quality-list 
                            li.book-quality-li 
                                img(src="./assets/imgs/nb-pic1.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Замер и установка
                            li.book-quality-li 
                                img(src="./assets/imgs/nb-pic2.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Срочный заказ за 30 минут
                            li.book-quality-li 
                                img(src="./assets/imgs/nb-pic3.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Таблички под любой бюджет
                            li.book-quality-li 
                                img(src="./assets/imgs/nb-pic4.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Оптом и в розницу
                            li.book-quality-li 
                                img(src="./assets/imgs/nb-pic5.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Работа с юр. лицами и физ. лицами
                    .book-button 
                        .book-showall 
                            a(href="#").book-showall__link Показать все
                        .book-button-btn
                            a(href="#").book-button-btn__link.btn Заказать 
    .sales 
        .container 
            .sales-inner 
                form.form-nb
                    .form-nb-sales
                        h2.form-nb-sales__h2 Скидка 10%
                        h3.form-nb-sales__h3 за подписку
                    input(type="email" placeholder="E-mail").form-nb-sales__field
                    .form__button
                        a(href="#").form__button-btn.btn Промокод
    .goods
        .container 
            section.section-services 
                h1.h1 Товары
                a.a-section(href="#") Выберите нужный раздел
            .services-inner
                p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis porta turpis magna nunc. Et, porta fringilla sed tortor nulla pretium ultrices. Purus risus neque, risus tristique enim, mattis et parturient pellentesque. Commodo volutpat sollicitudin eu
                .goods-btn
                    a(href="#").goods-link 
                        p.goods-link-p Читать далее  
            .swiper-wr.swiper-wr-goods
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                .goods-swiper-slide
                                    img(src="./assets/imgs/g-lights.jpg", alt="g-lights").goods-swiper-slide-img
                                p.swiper-slide__p.goods-swiper-slide-p Зажигалки
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                .goods-swiper-slide
                                    img(src="./assets/imgs/g-goblet.jpg", alt="goblet").goods-swiper-slide-img
                                p.swiper-slide__p.goods-swiper-slide-p бокалы
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                .goods-swiper-slide
                                    img(src="./assets/imgs/g-pen.jpg", alt="pen").goods-swiper-slide-img
                                p.swiper-slide__p.goods-swiper-slide-p ручки
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                .goods-swiper-slide
                                    img(src="./assets/imgs/g-cup.jpg", alt="cup").goods-swiper-slide-img
                                p.swiper-slide__p.goods-swiper-slide-p термокружки
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                .goods-swiper-slide
                                    img(src="./assets/imgs/g-bracelet.jpg", alt="bracelet").goods-swiper-slide-img
                                p.swiper-slide__p.goods-swiper-slide-p браслеты
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                .goods-swiper-slide
                                    img(src="./assets/imgs/g-dairy.jpg", alt="dairy").goods-swiper-slide-img
                                p.swiper-slide__p.goods-swiper-slide-p ежедневники
                    .swiper-pagination
                .swiper-button-prev    
                .swiper-button-next
            .book-wrap 
                .book-inner 
                    .book-quality
                        ul.book-quality-list 
                            li.book-quality-li 
                                img(src="./assets/imgs/g-pic1.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Гравируем и на вашем и на нашем товаре
                            li.book-quality-li 
                                img(src="./assets/imgs/g-pic2.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p При покупке наших товаров дополнительная скидка на гравировку
                            li.book-quality-li 
                                img(src="./assets/imgs/g-pic3.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Есть доставка
                    .book-button 
                        .book-showall 
                            a(href="#").book-showall__link Показать все
                        .book-button-btn
                            a(href="#").book-button-btn__link.btn У меня оптовый заказ 
    .sales 
        .container 
            .sales-inner 
                form.form.form-g
                    .form-sales
                        h3.form-sales__h3 Не нашли, что
                        h3.form-sales__h3 искали?
                    input(type="tel" placeholder="Ваш номер телефона").form__field.form__field-g
                    .form__button
                        a(href="#").form__button-btn.btn Позвоните мне
    
    //- Video
    //- 
    //- 
    //- 
    //- Comments

    .mat-egnr
        .container 
            section.section-services 
                h1.h1 Гравировка по материалам
                a.a-section(href="#") Выберите нужный раздел
            .mat-egnr-wr
                .grid-wrap
                    .grid-container
                        mixin grid-el(title, img)
                            .grid-el
                                a.grid-el__link(href="#")
                                    img.grid-el__img(src=img, alt=title)
                                .grid-el__title=title
                        +grid-el("Гравировка", "./assets/imgs/mat-pic1.jpg")
                        +grid-el("Гравировка", "./assets/imgs/mat-pic2.jpg")
                        +grid-el("Гравировка", "./assets/imgs/mat-pic3.jpg")
                        +grid-el("Гравировка", "./assets/imgs/mat-pic4.jpg")
                .mat-egnr-wr-text
                    h2.mat-egnr-wr-text-h2 мы поможем сделать любую вещь 
                        span.mat-egnr-wr-text-h2-clr особенной
                    p.mat-egnr-wr-text-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis porta turpis magna nunc. Et, porta fringilla sed tortor nulla pretium ultrices. Purus risus neque, risus tristique enim, mattis et parturient pellentesque. Commodo volutpat sollicitudin eu Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis porta turpis magna nunc. Et, porta fringilla sed tortor nulla pretium ultrices. Purus risus neque, risus tristique enim, mattis et parturient pellentesque. Commodo volutpat sollicitudin eu Lorem ipsum dolor sit amet, consectetur 
            .book-wrap 
                .book-inner 
                    .book-quality
                        ul.book-quality-list 
                            li.book-quality-li 
                                img(src="./assets/imgs/Vector.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Идеальная гравировка на любом материале
                            li.book-quality-li 
                                img(src="./assets/imgs/like.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Немецкая точность и швейцарское качество на современном оборудованиии
                            li.book-quality-li 
                                img(src="./assets/imgs/touch.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Бережная работа без механического воздействия
                    .book-button 
                        .book-showall 
                            a(href="#").book-showall__link Показать все
                        .book-button-btn
                            a(href="#").book-button-btn__link.btn Заказать
    .mat-nb
        .container 
            section.section-services 
                h1.h1 Табличка по материалам
                a.a-section(href="#") Выберите нужный раздел
            .mat-nb-wr
                .grid-wrap
                    .grid-container
                        mixin grid-el(title, img)
                            .grid-el
                                a.grid-el__link(href="#")
                                    img.grid-el__img(src=img, alt=title)
                                .grid-el__title=title
                        +grid-el("Из металла", "./assets/imgs/mat-nb-pic1.jpg")
                        +grid-el("Из оргстекла", "./assets/imgs/mat-nb-pic2.jpg")
                        +grid-el("Из пластика", "./assets/imgs/mat-nb-pic3.jpg")
                        +grid-el("Из дерева", "./assets/imgs/mat-nb-pic4.jpg")
                .mat-nb-wr-text
                    h2.mat-nb-wr-text-h2 мы поможем сделать любую вещь 
                        span.mat-nb-wr-text-h2-clr особенной
                    p.mat-nb-wr-text-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis porta turpis magna nunc. Et, porta fringilla sed tortor nulla pretium ultrices. Purus risus neque, risus tristique enim, mattis et parturient pellentesque. Commodo volutpat sollicitudin eu Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut convallis porta turpis magna nunc. Et, porta fringilla sed tortor nulla pretium ultrices. Purus risus neque, risus tristique enim, mattis et parturient pellentesque. Commodo volutpat sollicitudin eu Lorem ipsum dolor sit amet, consectetur 
            .book-wrap 
                .book-inner
                    .book-quality
                        ul.book-quality-list 
                            li.book-quality-li 
                                img(src="./assets/imgs/Vector.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Идеальная гравировка на любом материале
                            li.book-quality-li 
                                img(src="./assets/imgs/like.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Немецкая точность и швейцарское качество на современном оборудованиии
                            li.book-quality-li 
                                img(src="./assets/imgs/touch.svg", alt="vector").book-quality-li__img
                                p.book-quality-li__p Бережная работа без механического воздействия
                    .book-button 
                        .book-showall 
                            a(href="#").book-showall__link Показать все
                        .book-button-btn
                            a(href="#").book-button-btn__link.btn Заказать    
    .etching-list
        .container 
            section.section-services 
                h1.h1 Гравировка
                a.a-section(href="#") Выберите нужный раздел
            .etching-list-wrap 
                ul.list-wr
                    li.list-wr-li-title  
                        a(href="#").list-wr-link-title Гравировка на металле
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на кольцах
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на часах
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на ножах
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на жетонах
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на адреснике
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на ручках
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на зажигалках
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на кружках
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на флягах
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на ложках
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на браслетах
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на телефонах
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на флешках
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на кубках
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на медалях
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на самоварах
                ul.list-wr
                    li.list-wr-li-title
                        a(href="#").list-wr-link-title Гравировка на стекле 
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на бокалах
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на бутылках
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на вазах
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на наградах
                ul.list-wr
                    li.list-wr-li-title
                        a(href="#").list-wr-link-title Гравировка на коже 
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на ежедневниках
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на портмоне
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на ремне
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на браслетах
                ul.list-wr
                    li.list-wr-li-title
                        a(href="#").list-wr-link-title Гравировка на дереве 
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на часах
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на гитарах
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на барабанных палочках
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на шкатулках
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на хэштегах
                ul.list-wr 
                    li.list-wr-li-title
                        a(href="#").list-wr-link-title Гравировка на клавиатуре  
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на стационарной клавиатуре
                    li.list-wr-li
                        a(href="#").list-wr-link Гравировка на клавиатуре ноутбука:
                    li.list-wr-li
                        a(href="#").list-wr-link Macbook
                    li.list-wr-li
                        a(href="#").list-wr-link Macbook Pro
                    li.list-wr-li
                        a(href="#").list-wr-link Macbook Air
                    li.list-wr-li
                        a(href="#").list-wr-link Xiaomi
                    li.list-wr-li
                        a(href="#").list-wr-link Chuwi
                    li.list-wr-li
                        a(href="#").list-wr-link Lenovo
                    li.list-wr-li
                        a(href="#").list-wr-link Deli
                    li.list-wr-li
                        a(href="#").list-wr-link HP
    .works
        .container 
            section.section-services 
                h1.h1 Наши работы
                a.a-section(href="#") Примеры работ
            .works-inner 
                .works-wr 
                    .works-wr-pic 
                        a(href="#").works-wr-pic__link
                            img(src="./assets/imgs/w-pic.jpg", alt="w-pic").works-wr-pic__img
                    .works-wr-in 
                        p.works-wr-in-h2 мы поможем сделать любую вещь 
                            span.works-wr-in-h2-clr особенной
                        p.works-wr-in__p Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel 
                        .works-wr-in-pics 
                            a(href="#").works-wr-in-pics-link
                                img(src="./assets/imgs/ring2.jpg", alt="ring2").works-wr-in-pics-img
                            a(href="#").works-wr-in-pics-link
                                img(src="./assets/imgs/lighter2.jpg", alt="ring2").works-wr-in-pics-img
                            a(href="#").works-wr-in-pics-link
                                img(src="./assets/imgs/pen2.jpg", alt="ring2").works-wr-in-pics-img
                .swiper-wr-works 
                    .swiper-container-works 
                        .swiper-wrapper-works 
                            .swiper-slide-works
                                a(href="#").swiper-slide-works__link 
                                    img(src="./assets/imgs/ring2.jpg", alt="ring").swiper-slide-works__link-img
                                    p.swiper-slide-works__p На обручальных кольцах
                            .swiper-slide-works
                                a(href="#").swiper-slide-works__link 
                                    img(src="./assets/imgs/ring2.jpg", alt="ring").swiper-slide-works__link-img
                                    p.swiper-slide-works__p На обручальных кольцах
                            .swiper-slide-works
                                a(href="#").swiper-slide-works__link 
                                    img(src="./assets/imgs/lighter2.jpg", alt="lighter").swiper-slide-works__link-img
                                    p.swiper-slide-works__p На зажигалках
                            .swiper-slide-works
                                a(href="#").swiper-slide-works__link 
                                    img(src="./assets/imgs/pen2.jpg", alt="pen").swiper-slide-works__link-img
                                    p.swiper-slide-works__p На ручках
                    .swiper-button-prev.btn-works-l
                    .swiper-button-next.btn-works-r
            .book-wrap 
                .book-inner-works
                    .book-showall-works
                        a(href="#").book-showall-works__link Показать все
    .trust 
        .container 
            section.section-services 
                h1.h1 Нам доверяют
                a.a-section(href="#") Клиенты, с которыми мы работаем
            .swiper-wr.trust-swiper-wr
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                .swiper-slide
                                    img(src="./assets/imgs/eucerin.svg", alt="eucerin").swiper-slide-img
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                .swiper-slide
                                    img(src="./assets/imgs/microsoft.svg", alt="microsoft").swiper-slide-img
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                .swiper-slide
                                    img(src="./assets/imgs/veeam.svg", alt="eucerin").swiper-slide-img
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                .swiper-slide
                                    img(src="./assets/imgs/eucerin.svg", alt="veeam").swiper-slide-img
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                .swiper-slide
                                    img(src="./assets/imgs/microsoft.svg", alt="microsoft").swiper-slide-img
                        .swiper-slide
                            a(href="#").swiper-slide__link
                                .swiper-slide
                                    img(src="./assets/imgs/veeam.svg", alt="veeam").swiper-slide-img
                    .swiper-pagination
                .swiper-button-prev    
                .swiper-button-next
    .thanks 
        .container 
            section.section-services 
                h1.h1 Благодарные письма
                a.a-section(href="#") Клиенты, с которыми мы работаем
            .swiper-wr-thanks
                .swiper-container-thanks 
                    .swiper-wrapper-thanks 
                        .swiper-slide-thanks
                            a(href="#").swiper-slide-thanks__link 
                                .swiper-slide-thanks-wr
                                    img(src="./assets/imgs/eucerin.svg", alt="eucerin").swiper-slide-thanks__link-img
                        .swiper-slide-thanks
                            a(href="#").swiper-slide-thanks__link 
                                .swiper-slide-thanks-wr
                                    img(src="./assets/imgs/microsoft.svg", alt="microsoft").swiper-slide-thanks__link-img
                        .swiper-slide-thanks
                            a(href="#").swiper-slide-thanks__link 
                                .swiper-slide-thanks-wr
                                    img(src="./assets/imgs/veeam.svg", alt="veeam").swiper-slide-thanks__link-img                  
                    .swiper-pagination
                .swiper-button-prev    
                .swiper-button-next